---
import "@styles/main.css"
interface Props {
  title?: string;
  description?: string;
  lang?: string;
}
const {title, description, lang} = Astro.props
---

<html lang={lang || "en"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Wish"}</title>
    <meta name="description" content={description || "A wishlist app"} />
    <meta name="lang" content={lang || "en"} />
  </head>
  <body>
    <slot />
  </body>
</html>
